body{font-family:Arial,sans-serif;background-color:#f8f8f8;margin:0;padding:0}
header{display:flex;justify-content:space-between;align-items:center;padding:1rem;background-color:#87738F;color:#fff}
header h1{margin:0;font-size:1.5rem;font-weight:bold}
h2{text-align:center;margin-top:2rem;margin-bottom:1rem;font-size:2rem;color:#87738F}
form{max-width:600px;margin:2rem auto;background-color:#FFF;border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,.1);padding:2rem}
h3{font-size:1.5rem;margin:0 0 1rem;text-transform:uppercase;color:#87738F}
label{font-weight:bold;color:#465B36}
input[type="text"],input[type="tel"],input[type="date"]{width:100%;padding:1rem;border:none;border-radius:3px;box-shadow:0 0 5px rgba(0,0,0,.1);margin-bottom:1rem;font-size:1rem}
button,input[type="submit"]{background-color:#87738F;color:#FFF;padding:1rem 2rem;border:none;border-radius:3px;font-size:1rem;cursor:pointer;transition:background-color .3s ease}
button:hover,input[type="submit"]:hover{background-color:#465B36}
button:focus,input[type="submit"]:focus{outline:none}
input:invalid{border-color:#FF4136}
input:focus:invalid{box-shadow:0 0 5px rgba(255,65,54,.5)}
.garment{border:1px solid #CCC;padding:1rem;margin-bottom:1rem}
.file-upload{display:flex;flex-direction:column;align-items:center;margin-top:2rem}
.file-upload label{background-color:#87738F;color:#FFF;padding:1rem 2rem;cursor:pointer;border-radius:3px;transition:background-color .3s ease}
.file-upload input[type="file"]{display:none}
.file-upload #preview{max-width:100%;margin-top:1rem;display:none}
footer{background-color:#87738F;color:#FFF;font-size:14px;padding:1rem;text-align:center}
#toggle-language{background-color:#FFF;color:#87738F;padding:.5rem 1rem;border:none;border-radius:3px;font-size:1rem;cursor:pointer;transition:background-color .3s ease}
#toggle-language:hover{background-color:#CCC}
@media screen and (min-width:600px){form{padding:3rem}.form-section{flex-direction:row;justify-content:space-between;align-items:flex-start}.form-section h3{margin-bottom:2rem}.form-column{flex-basis:48%}.form-column:not(:last-child){margin-right:2%}.form-column input{margin-bottom:2rem}.file-upload{flex-direction:row;justify-content:center}.file-upload label{margin-right:2rem}}
.my-settings {
        --cfg-pubkey: '87e5a7c453ff4cfab786';
        /* all available settings https://uploadcare.github.io/blocks/solutions/file-uploader/#configuration */
    }
